html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;

}
html {
  overflow-y: scroll; 

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.align-items{
  display: flex;
  align-items: center;
}
.space-between{
  display: flex;
  justify-content: space-between;
}

.flex{
  display: flex;
}

.no-select{
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.ani2ms{
    transition: all 0.2s;

}

.notification{
          font-size: .9rem;
          text-align: center;
          /* background-color: #C5E99B !important;
          color: #548687 !important; */
        }